torch @ https://download.pytorch.org/whl/cu126/torch-2.5.0%2Bcu126-cp312-cp312-windows_amd64.whl
torchvision @ https://download.pytorch.org/whl/cu126/torchvision-0.20.0%2Bcu126-cp312-cp312-windows_amd64.whl
